* {
    margin: 0;
    padding: 0;
    font-size: 1.14em;
    font-weight: 500;
    border-style: none;
    font-family: "Roboto", sans-serif;
}

button i{
    pointer-events: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#boxresultat {
    height: 33%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#boxresultat p {
    padding: 0 45px 0 0;
    font-size: 3em;
    text-align: right;
    font-weight: 300;
    color: white;
}

#wrapper {
	border-radius: 50px;
    background-color: black;
    width: 400px;
    height: 750px;
	
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

#clavier {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
	margin-bottom: 50px;
}

button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 10px;
	transition: .6s;
}

.chiffre:active {
    background-color: #4f4d50;
    transition: background-color 0s; 
}

.calc:active {
    background-color: #fffeff;
	color: #f79a0a;
    transition: background-color 0s; 
}

.utils:active {
    background-color: #d2d0d3;
    transition: background-color 0s; 
}

#ch-zero {
    width: 160px;
    border-radius: 40px;
    text-align: left;
    padding-left: 29px;
}

.utils{
	background-color: #636363;
}

.calc{
	background-color: #f79a0a;
	color: white;
}

.chiffre{
	background-color: #313131;
	color: white;
}

#calc-multiplication{
	font-size: 0.8em;
	padding-top: 5px;
}

#calc-soustraction, #calc-division, #calc-addition, #calc-egal, #utils-pourcent{
	padding-top: 2px;
}